* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
  background-color: #2E2E2E;
}

li {
  list-style-type: none;
  padding: 5px;
}

.profileURL {
  font-weight: bold;
  font-size: 1.5rem;
  color: #FFFFFF;
  margin-right: 10px;
}

.profileAndSearch, .cardContainer, li, div.error {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileAndSearch {
  height: 50vh;
}

.topList {
  color: #ADD8E6;
}
.cardContainer {
  height: 10vh;
}

.userCard {
  width: 300px;
  height: 400px;
}

.userColor {
  background-color: lightgray;
  color: black;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.subscriberColor {
  background-color: gray;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.alumColor {
  background-color: purple;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.modColor {
  background-color: gold;
  color: black;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.error {
  background-color: #fce8e6;
  color: #e53935;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 25px;
  max-width: 300px;
}

.error::before {
  content: "!";
  font-size: 25px;
  margin-right: 8px;
  color: #e53935;
}

.error strong {
  font-weight: 600;
  margin-right: 4px;
}

.error a {
  color: #e53935;
  text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 650px) {
  .profileURL {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .makeStyles-topThreeSection-3 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
